* {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}


.header {
    background-image: url(assests/background.jpg);
    height: 350px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.title {
    margin-right: 1300px;
    color: rgba(255, 255, 255, 0);
    font-family: 'Jacques Francois Shadow', serif;
    font-size: 50px;
    -webkit-text-stroke: 1px white;
    
}

.about {
    color: white;
    size: 45px;
    margin-left: 1200px;
    margin-top: -40px;
}

.p1 {
    color: white;
    font-size: 20px;
    margin-top: 90px;
    line-height: 35px;
}

.input {
    /* display: flex; */
    position: relative;
    justify-content: center;
}

.search {
    width: 150px;
    height: 35px;
    margin-top: 50px;
    /* margin-left: -1px; */
    border-radius: 20px;
    padding-left: 80px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.icon {
    width: 15px;
    height: 15px;
    margin-left: -220px;
    margin-bottom: -3px;
    z-index: 2;
}

.random {
    /* position: relative; */
    text-align: center;
    background-color: rgba(231, 220, 209, 1);
    height: 550px;
}

.title2 {
    padding-bottom: -50px;
    /* border: 1px solid black; */
    z-index: 2;

}

.about {
    text-decoration: none;
}

.recipe {
    height: 300px;
    width: 300px;
    margin-top: 90px;
    border-radius: 30px;
    border: 1px solid black;
    z-index: 1;
}

.rname {
    font-style: bold;
    font-size: large;
    margin-top: 20px;
}

.searchb4 {
    background-color: rgba(218, 218, 218, 0.88);
    height: 650px;

    border: 1px solid black;
    padding-top: 50px;
}

.mealimg {
    display: flex;
    justify-content: center;
    width: 1200px;
    /* border: 1px solid black; */
    z-index: 1;
    /* padding-top: 100px; */
}

.b4meals {
    margin-left: 650px;
    z-index: 2;
    margin-top: -45px;

}

.meals {
    height: 250px;
    margin-top: 90px;
    border-radius: 30px;
    margin-left: 250px;
    /* border: 1px solid black; */
}

.lastp {
    text-align: center;
    margin-top: 360px;
    margin-left: -160px;
    font-size: large;
    font-style: bold;
}

.btn {
    background-color: rgba(240, 248, 255, 0.95);
    margin-right: 0px;
    z-index: 2;
    height: 26px;
}

::-webkit-scrollbar {
    display: none;
}